*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container  {
    max-width: 1140px;
    margin: 0 auto;
}

.container-smaller{
    max-width: 1000px;
    margin: 0 auto;
}

html    {
    font-family: 'Roboto', sans-serif;
    
}


/*nav*/
.header {
    background-color: #4e8eed;
    height: fit-content;
}

.logo-and-nav   {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
}

.menu-items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    align-items: center;
    color: white;
}

.menu-item  {
    margin-right: 1.3rem;
}
.menu-items:last-child{
    margin-right: 0px;
}

.menu-button    {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
}

/*blue-squares*/

.blue-squares {
    margin-bottom: 10rem;
    margin-top: 5rem;
}

.square-container   {
    display: flex;
    flex-wrap: wrap;

}

.col.rectangle  {
    
    display: flex;
    flex-basis: calc(100%*2/3);
}

.rectangle-img  {

}

.col    {
    background-color: skyblue;
    text-align: center;
    padding: 1.3rem;
    border-radius: 5%;
    margin: 0.5rem;

}

.col:not(.rectangle)   {
    flex-basis: 33%;
    flex-basis: 30%;
}

i   {
    color: blue;
}

.col h2 {
    color: blue;
}

.app-store-button   {
    padding: 0.5rem;
    color: white;
    background-color: blue;

}

.fa-apple   {
    color: white;
}

.app-store-button   {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*planning development section*/
.planning-development   {
    background-color: #9593e6;
    padding-left: 7rem;
    padding-right: 7rem;
}

.planning-development-container {
    display: flex;
    padding-top: 10rem;
    padding-bottom: 10rem;
}


.planning{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-right: 0.5rem;
    line-height: 2rem;
}

.planning h2{
    font-style: none;
    padding: 2rem;
}

.planning img   {
    margin-bottom: 25rem;
}

.development{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5%;
    padding: 2rem;
    align-self: flex-end;
    margin-left: 0.5rem;
    line-height: 2rem;
    text-align: center;
    font-style: italic;
}

.development h2{
    font-style: none;
    padding: 2rem;
}

/*testimonials*/
.testimonials-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-card{
    background-color: #9593e6;
    border-radius: 25px;
    display: flex ;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.testimonial-img img   {
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 2rem;
}

.testimonial-text   {
    align-self: center;
}

/*benefits*/
.benefits   {
    background-color: #9593e6;
}

.benefits-wrapper   {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-cards-container   {
    display: flex;
    flex-wrap: wrap;
}

.benefit-card   {
    flex-basis: calc(100%/3);
    background-color: white;
    border-radius: 25px;
    padding: 2rem;
    margin-bottom: 0.2rem;
}

/*about us*/

.about-us-img-container img{
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 2rem;
}

.about-us-img-container {
    position: relative;
}

.about-us-wrapper   {
    display: flex;

}

.about-us-img-container i  {
    position:absolute;
    right:0%;
    top:0%;
    font-size: 6rem;
}

/*get started*/
.get-started    {
    background-color: #9593e6;
}

/*footer*/
.footer {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



 /*tablet*/
 @media screen and (max-width: 768px)   {
    .nav-menu ul{
        display: none;
    }
    .nav-menu  {
        font-family: "Font Awesome 5 Free";
        content:"\e1cf"
    }
    .planning-development-container   {
        flex-direction: column;
    }
    .benefit-card{
        flex-basis: calc(100%/2);
    }
 }



 /*smartphone*/
 @media screen and (max-width: 480px)   {
    .benefit-card{
        flex-basis: calc(100%/1);
    }
    .square-container .col{
        flex-basis: calc(100%/1);
    }
    .app-store-button-container{
        align-items: center;
    }
    .rectangle{
        display: flex;
        flex-direction: column;
    }
    

 }