*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container  {
    max-width: 1140px;
    margin: 0 auto;
}

html    {
    font-family: 'Roboto', sans-serif;
    
}


/*nav*/
.header {
    background-color: #4e8eed;
    height: fit-content;
}

.logo-and-nav   {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
}

.menu-items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    align-items: center;
    color: white;
}

.menu-item  {
    margin-right: 1.3rem;
}
.menu-items:last-child{
    margin-right: 0px;
}

.menu-button    {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
}

/*blue-squares*/

.square-container   {
    display: flex;
    flex-wrap: wrap;

}

.col.rectangle  {
    flex-grow: 1;
    display: flex;
}

.rectangle-img  {

}

.col    {
    background-color: skyblue;
    text-align: center;
    padding: 1.3rem;
    border-radius: 5%;
    margin: 0.5rem;
    flex-basis: calc(100%/3);
}

i   {
    color: blue;
}

.col h2 {
    color: blue;
}

.app-store-button   {
    padding: 0.5rem;
    color: white;
    background-color: blue;

}

.fa-apple   {
    color: white;
}

.app-store-button   {
    display: flex;
    align-items: center;
    justify-content: center;
}